<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{@blog.icon}}">

    <!-- STYLES & FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.0/css/fork-awesome.min.css" integrity="sha256-sX8HLspqYoXVPetzJRE4wPhIhDBu2NB0kYpufzkQSms=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{ghost_head}}
  </head>

  <body class="{{body_class}}">
    {{> nav}}

    <main id=page>
      <section class="inner">
        {{{body}}}
        {{> footer}}
      </section><!-- .inner -->
    </main><!-- #page -->

    {{ghost_foot}}

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
    {{> analytics}}
  </body>
</html>

