{{!< default}}

<header>

</header>

<div class="container">
	<section class="article">
		<div class="columns is-multiline">
			{{#foreach posts}}
			<div class="column is-half">
				<div class="post-card">

					{{> "post-card"}}

				</div><!-- .post-card -->
			</div><!-- .column -->
			{{else}}
			<div class="notification is-background-theme">
				<p class="has-text-centered is-uppercase has-text-weight-bold">{{t "NO-POST"}}</p>
			</div><!-- .notification -->
			{{/foreach}}
		</div><!-- .columns .is-multiline -->
	</section><!-- .article -->
</div><!-- .container -->

